<div class="px-2">
<h1>Listing All Employees </h1>

<%= search_form_for @q, url: :employees do |form| %>

 <div class="form-group">
  <%= form.label :first_name %>
  <%= form.text_field :first_name_cont, class: "form-control" %>
 </div>

 <div class="form-group">
  <%= form.label :email %>
  <%= form.email_field :email_cont, class: "form-control" %>
 </div>

 <div class="form-group">
  <%= form.submit class: "btn btn-primary" %>
 </div>

<% end %>

<p style="color: green"><%= notice %></p>

<%= link_to 'New Employee', new_employee_path,class:"btn btn-primary" %>
<%= link_to 'New Role', new_role_path, class:"btn btn-info" %> 
<%= link_to 'New Department', new_department_path, class:"btn btn-primary" %>


<table class="table table-bordered">
<thead class="text-center">
<tr>

<th>ID</th>
<th>First Name</th>
<th>Last Name</th>
<th>Email</th>
<th>Role</th>
<th>Department</th>
<th>Phone</th>
<th>Net Salary</th>
<th>Salary</th>
<th>Allowances</th>
<th>Hire Date</th>
<th>Created Time</th>
<th colspan="3">Action</th>
</tr>

</thead>
<tbody class="text-center">
<% @employees.each do |employee|%>
<tr>

<td> <%= employee.id %> </td>
<td> <%= employee.first_name %> </td>
<td> <%= employee.last_name %> </td>
<td> <%= employee.email %> </td>
<td> <%= employee.role&.name %> </td>
<td> <%= employee.department.name %> </td>
<td> <%= employee.phone %> </td>
<td> <%= employee.perform() %> </td>
<td> <%= employee.basic_pay %> </td>
<td> <%= employee.allowances %> </td>
<td> <%= employee.hire_date %> </td>
<td> <%= employee.created_at.strftime('%d-%m-%Y/%H:%M:%S') %> </td>
<td> <%= link_to 'View', employee, class:"btn btn-info" %> </td>
<td> <%= link_to 'Edit', edit_employee_path(employee), class:"btn btn-primary" %></td>
<td> <%= link_to 'Delete', employee, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %> </td>

</tr>
<% end %>

</tbody>
</table>

<%= paginate @employees %> 
</div>

<!-- Filter Employee 
<%= form_with url: employees_path, method: :get, local: true do %>
  <div>
    <%= label_tag :department, 'Department' %>
    <%= text_field_tag :department, params[:department.name] %>
  </div>
  <div>
    <%= label_tag :role, 'Role' %>
    <%= text_field_tag :role, params[:role.name] %>

  </div>
  <div>
    <%= label_tag :hire_date, 'Hire Date' %>
    <%= date_field_tag :hire_date, params[:hire_date] %>
  </div>
  <%= submit_tag 'Filter' %>
<% end %>

<h2>Employees</h2>
<ul>
  <% @employees.each do |employee| %>
    <li><%= employee.first_name %> - <%= employee.role&.name %> - <%= employee.hire_date %></li>
  <% end %>
</ul>
-->